.cart {
  .cart__summary {
    margin: 30px 0;

    .cart__summary__tax,
    .cart__summary__quantity,
    .cart__summary__total {
      display: flex;
      gap: 20px;
      font-size: 24px;
      font-weight: 300;

      strong {
        font-weight: 600;
      }
    }

    .cart__summary__tax__label,
    .cart__summary__quantity__label,
    .cart__summary__total__label {
      width: 100px;
    }

    button {
      all: unset;
      margin: 30px 0;
      background-color: $--c-primary;
      color: $--c-white;
      width: 280px;
      height: 44px;
      font-family: $--font-main;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
    }

    button:hover {
      background-color: $--c-black;
    }
  }
}
