.product-listing {
    h1 {
        text-transform: capitalize;
    }
}

.product-listing__cards-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: flex-start;
    gap: 40px;
    // border: 1px solid red;
    margin: 40px 0 100px;
    justify-content: center;

}