@import './reset'; //css reset
@import './normalize';  //normalize styles
@import './variables'; //global style variables: fonts, colors, shadows etc

//components
@import '../components/styles/LoadingSpinner';
@import '../components/styles/Navbar';
@import '../components/styles/ModalOverlayMask';
@import '../components/styles/ProductCard';
@import '../components/styles/CartItem';
@import '../components/styles/CurrencySelect';
@import '../components/styles/CartOverlay';

//pages
@import '../pages/storefront/styles/ProductListing';
@import '../pages/storefront/styles/ProductDescription';
@import '../pages/storefront/styles/Cart';

// html * {
//     outline: 1px solid saddlebrown;
// }

body {
    font-family: $--font-main;
    color: $--c-text;
    background-color: $--c-white;
    min-width: 600px;
    user-select: none;
}

h1 {
    font-weight: 300;
    font-size: 42px;
}

a {
    text-decoration: none;
    color: inherit;
}

span, p, h1, h2, h3, h4, h5, h6, a {
    user-select: text;
}

.section-container {
    padding: 180px 80px 0;
}

hr {
    border-top: 1px solid #E5E5E5;
    margin: 0 0 36px 0;
}