.cart-item {
    hr {
        border-top: 1px solid #E5E5E5;
    }

    .cart-item__contents {
        display: flex;
        justify-content: space-between;
    }

    .cart-item__controls {
        display: flex;
        gap: 24px;

        .cart-item__controls__quantity {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 310px;

            .cart-item__controls__quantity-button {
                cursor: pointer;
            }

            .cart-item__controls__quantity-amount {
                text-align: center;
                font-size: 24px;
            }
        }

    .cart-item__controls__preview {
        img {
            width: 200px;
            height: 310px;
            object-fit: cover;
        }

        .cart-item__controls__preview-buttons {
            display: flex;
            gap: 8px;
            position: relative;
            top: -46px;
            right: -120px;
            width: 64px;
            cursor: pointer;
        }

        .cart-item__controls__preview-prev, .cart-item__controls__preview-next {
            background-color: black;
            img {
                height: 28px;
                width: 28px;
                padding: 6px 10px;
            }
        }
    }
    }
}