.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 80px;
    left: 0px;
    top: 0px;
    align-items: center;
    background-color: $--c-white;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 80px;
    z-index: 10;

    .navbar-categories {
        display: flex;
        list-style-type: none;
        padding: 0;
        height: 100%;
        gap: 10px;
        cursor: pointer;

        li {
            line-height: 80px;
            padding: 0 16px;
            font-weight: 300;
        }

        li:hover {
            font-weight: 500;
            box-shadow: 0 4px 0px -2px $--c-primary;
        }
    }

    .navbar-actions {
        display: flex;
        // height: 100%;
        gap: 10px;


        li {
            img {
                height: 100%;
                width: 24px;
            }
        }
    }

    // .currency-select {
    //     display: flex;
    //     // flex-direction: row;
    //     // height: 100%;
    //     // width: auto;

    //     span {
    //         display: flex;
    //         width: auto;
    //         // border: 1px solid red;
    //     }

    //     img {
    //         // height: 100%;
    //         width: 10px;
    //         margin: 2px 0 0 6px;
    //         // background: red;
    //     }
    // }
}
