.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 80px;
    left: 0px;
    top: 0px;
    align-items: center;
    background-color: $--c-white;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 80px;
    z-index: 10;

    .navbar-categories {
        display: flex;
        list-style-type: none;
        padding: 0;
        // height: 100%;
        gap: 10px;
        // max-width: 0px;

        li {
            line-height: 80px;
            padding: 0 16px;
            font-weight: 300;
        }

        li:hover {
            font-weight: 500;
            box-shadow: 0 4px 0px -2px $--c-primary;
        }
    }

    .navbar-actions {
        display: flex;
        // height: 100%;
        gap: 10px;
        align-content: right;
        cursor: pointer;

        li {
            img {
                height: 100%;
                width: 24px;
            }
        }

        .navbar-cart-icon__item-count {
            position: relative;
            top: -44px;
            right: -16px;
            width: 21px;
            height: 21px;
            background-color: $--c-black;
            color: $--c-white;
            font-size: 14px;
            text-align: center;
            border-radius: 100px;
        }
    }
}
