.product-listing-card {
    display: flex;
    flex-direction: column;
    height: 444px;
    width: 386px;
    margin-bottom: 60px;
    padding: 18px;
    margin: 0 auto;

    h2 {
        font-weight: 300;
        font-size: 18px;
        margin-top: 18px;
    }

    span {
        font-weight: 500;
        font-size: 18px;
        margin-top: 12px;
    }
}

.product-listing-card:hover {
    box-shadow: $--default-shadow;
    transition: 0.3s;
}

.product-listing__cart-add {
    opacity: 0;
    position: relative;
    bottom: 110px;
    right: -280px;
    width: 74px;
}

.product-listing-card:hover .product-listing__cart-add, .product-listing__out-of-stock {
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
}

.product-listing__out-of-stock {
    position: relative;
    text-transform: uppercase;
    top: -472px;
    width: 350px;
    color: #8D8F9A;
    text-align: center;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    padding: 190px 0;
    opacity: 0;

    span {
        position: relative;
        font-weight: 300;
        font-size: 24px;
        bottom: 100%;
    }
}

.product-listing-card:hover .product-listing__out-of-stock {
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
}