.product-card {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 386px;
    margin-bottom: 60px;
    padding: 18px;
    margin: 0 auto;

    h2 {
        font-weight: 300;
        font-size: 18px;
        margin-top: 18px;
    }

    span {
        font-weight: 500;
        font-size: 18px;
        margin-top: 12px;
    }

    img {
        min-height: 350px;
        width: 440px;
        object-fit: contain;
    }
}

.product-card:hover {
    box-shadow: $--default-shadow;
    transition: 0.3s;
}

.product-card__cart-add {
    opacity: 0;
    position: relative;
    top: -110px;
    left: 270px;
    width: 80px;
    // height: 100px;

    img {
        min-height: 80px;
        // background-color: red;
    }
}

.product-card:hover .product-card__cart-add {
    opacity: 1;
    transition: 0.1s;
    cursor: pointer;
}

.product-card__out-of-stock {
    opacity: 0;
    position: relative;
    text-transform: uppercase;
    top: -504px;
    width: 350px;
    height: 460px;
    color: #8D8F9A;
    text-align: center;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    padding: 196px 0;

    span {
        position: relative;
        font-weight: 300;
        font-size: 24px;
        bottom: 100%;
    }
}

.product-card:hover .product-card__out-of-stock {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}